*{
    background-color: black;
}

div{
    width: 50%;
    margin-left: 25%;
    color: antiquewhite;
    padding: 20px;
    text-align: center;
}


img{
    width: 75%;
    align-items: center;
    border: 5px solid white;
}

.libre {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3rem;
  }

  .para{
    font-size: 20px;
  }
